/* BASIC */

html {
    background-color: #56baed;
    justify-content: center;
    text-align: center;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    justify-content: center;
    text-align: center;
  }
  
  h2{
    background-color: whitesmoke;
  }